html,
body {
    margin: 0;
    padding: 0;
}

.animated-bg {
    background: #b1e3f9 repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 100vh;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

.animated-bg h1 {
    font-size: 45px;
    font-family: sans-serif;
    text-shadow: 2px 2px white;
    color: #602fd2;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}